
:root {
    --element-ht: 35px;
    --dialog-ht: 55px;
    --navbar-ht: 70px;
    --space-used-ht: 32px;
    --navbar-left-wd: 200px;
    --text-no-files-size: 25px;
}

.file-icon {
    width: 17px;
    height: 17px;
    margin-left: 5px;
}

progress {
    background-color: #f1f1f1;
    border-radius: 7px;
    height: 6px;
}

progress::-webkit-progress-bar {
    background-color: #f1f1f1;
    border-radius: 7px;
    height: 6px;
}

progress::-webkit-progress-value {
    background-color: dodgerblue;
    border-radius: 7px;
    height: 6px;
}

progress::-moz-progress-bar {
    background-color: dodgerblue;
    border-radius: 7px;
    height: 6px;

}

.fontsize {
    font-size: 14px;
}

a {

    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.spaceused {

    position: relative;
    left: 0;
    margin-top: 20px;
    width: calc(100% - 20px);
    height: var(--space-used-ht);
    background-color: white;
    padding-left: 11px;
    display: flex;
    flex-direction: column;
    z-index: 101;
}

form {
    margin: 0 0 0 0;
}

.login-container {

    position: relative;
    text-align: center;
    top: 20%;
    width: 220px;
    margin: 0 auto;
}

.logo {

    margin-bottom: 40px;
    width: 140px;
    height: 40px;
}

.text-no-files {

    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -35%);
    color: #141414;
    font-family: Arial;
    font-size: var(--text-no-files-size);
}

/* FOR TEXT/PASSWORD INPUT ONLY */
input {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: var(--element-ht);
    border-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: #8b8b8b;
    background-color: white;
    color: dimgrey;
    border-radius: 0;
    text-align: left;
    font-size: 12px;
    margin-bottom: 25px;
}

input:focus {
    outline: none;
}

input[type="file"]::file-selector-button {
    display: none;
}

input[type="file"] {

    cursor: pointer;
    text-align: center;
}

.navbar-container-top {

    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-ht);
    border-style: solid;
    border-width: 0 0 0 0;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    background-color: white;
    z-index: 10;
}

.navbar-container-right {

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--navbar-left-wd);
    background-color: white;
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
    border-right-color: darkgrey;
    z-index: 11;
}


.dialog-container {

    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: darkgrey;
    position: fixed;
    top: calc(100% - var(--dialog-ht));
    left: 0;
    width: calc(100% - var(--navbar-left-wd));
    margin-left: var(--navbar-left-wd);
    height: var(--dialog-ht);
    background-color: white;
    z-index: 100;
}

.button-login {

    background-color: #32598f;
    color: white;
    font-family: Arial;
    font-size: 16px;
    border-radius: 4px;
    border-width: 0;
    width: 100%;
    height: var(--element-ht);
    margin-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-login:hover {
    background-color: #19407c;
}

.button-delete {

    background-color: #c40000;
    color: white;
    font-family: Arial;
    font-size: 16px;
    border-radius: 4px;
    border-width: 0;
    width: 100px;
    height: var(--element-ht);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: auto;
    margin-right: 10px;
}

.button-delete:hover {
    background-color: #ad0000;
}

.button-signup {

    width: 100%;
    height: var(--element-ht);
    background-color: white;
    color: black;
    font-family: Arial;
    font-size: 16px;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.file-container {

    margin-left: var(--navbar-left-wd);
    margin-top: var(--navbar-ht);
    padding-bottom: var(--dialog-ht);
    height: 100%;
}

.file {

    --margin: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    color: black;
    margin: var(--margin) var(--margin) var(--margin) var(--margin);
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    height: 35px;
}

.dropdown-btn {
    display: none;
}

input[type="file"]::-webkit-file-upload-button {

    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-style: none;
}

::-webkit-scrollbar {
    top: 70px;
    width: 6px;
}

/* TRACK */
::-webkit-scrollbar-track {
    background-color: white;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 10px;
    background: lightgray;
}

/* HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}

@media screen and (max-width: 620px) {

    a {

        text-decoration: none;
        font-weight: bold;
        font-size: 3vw;
        color: black;
    }

    .fontsize {
        font-size: 3vw;
    }

    .button-delete {

        background-color: #c40000;
        color: white;
        font-family: Arial;
        font-size: 16px;
        border-radius: 4px;
        border-width: 0;
        width: 100px;
        height: var(--element-ht);
        text-align: center;
        cursor: pointer;
        transition: background-color 0.5s;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: auto;
        margin-right: 10px;
    }

    .file {

        --margin: 0px;

        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid;
        border-left-width: 0;
        border-right-width: 0;
        border-top-width: 0;
        border-bottom-width: 1px;
        border-bottom-color: darkgrey;
        color: black;
        margin: var(--margin) var(--margin) var(--margin) var(--margin);
        font-size: 13px;
        font-family: Arial;
        font-weight: bold;
        width: 100%;
        height: 30px;
    }

    .file-container {

        margin-left: 0;
        margin-top: var(--navbar-ht);
        padding-bottom: var(--dialog-ht);
        overflow: hidden;
    }

    .navbar-container-right {
        display: none;
    }

    .dialog-container {

        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: darkgrey;
        position: fixed;
        top: calc(100% - var(--dialog-ht));
        left: 0;
        width: 100%;
        margin-left: 0;
        height: var(--dialog-ht);
        background-color: white;
        z-index: 100;
    }

    .dropdown-btn {

        display: block;
        background-color: white;
        border: none;
        margin: 9px 10px 10px 10px;
        float: left;
        cursor: pointer;
    }
}